{{! comments section }}
<section class="section">
  <div class="comments">
    {{#each this}}
      <section class="comment">
        <div class="meta title is-6 field">
          {{user.username}}
          on
          {{format_date created_at}}
        </div>
        <div class="text title is-4 field" id="comment-text">
          {{comment_text}}
        </div>
      </section>
    {{/each}}
  </div>
</section>