<a class="button is-link is-inverted is-outlined" href="/events">Add an Event</a>

{{!-- <a href="https://www.sanantonioriverwalk.com/events/" target="_blank">Things to
  do in San Antonio and on the Riverwalk</a>
<div>Want to meet people who like the things you do?</div>
<div>Why not....</div>
<div>Add an Event to our calendar</div>
<div>Click on an event and add it to your calendar.</div>
<div>A fun way to keep in the Know.</div>

<div>
  Find a concert or play or a comedy show by using the links below. Then get
  together with friends, coworkers or meet a group of new friends with the same
  interst and Meet up to have a great time.</div>
<a
  href="https://tickets-center.com/search/tobin-center-for-performing-arts-tickets/?venueId=12016&venueName=Tobin+Center+for+Performing+Arts&vaid=265&tagid=201&atid=30001&nid=1&accid=9493575329&campaignid=284383562&cid=336449148956&akwd=tobin%20center&mt=e&network=g&dist=s&adposition=&device=c&ismobile=false&devicemodel=&placement=&target=&random=11588145364578766740&loc_physical_ms=9028052&loc_interest_ms=9028046&exid=&fiid=&vx=0&gclid=Cj0KCQjw4PKTBhD8ARIsAHChzRLAfnJ5Se3FwGmjxzYXNMVkBB97T5n8qJiClGDT_nyLnik0QLep4Z4aAoooEALw_wcB"
  target="_blank"
>Tobin Center Events</a>

<a href="https://www.sanantonioriverwalk.com/events/" target="_blank">Things to
  do in San Antonio and on the Riverwalk</a> --}}

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box" id="info-box">
      <p class="title">PUPPER FRIENDLY <span>&#128021;</span></p>
       <a href="https://www.alamobeer.com/" target="_blank" class="subtitle">Alamo Beer Company <i>(indoor & outdoor)</i></a>
      <br/>
      <a href="https://weatheredsouls.beer/" target="_blank" class="subtitle">Weathered Souls <i>(indoor & outdoor)</i> <span>	&#x1F90E;</span></a>
      <br/>
          <a href="https://www.hopsandhoundsllc.com/" target="_blank" class="subtitle">Hops & Hounds <i>(indoor & outdoor)</i></span></a>
      <br/>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box" id="info-box">
      <p class="title">SPORTS <span>&#9977;</span></p>
      <a href="https://sanantoniossc.com/" target="_blank" class="subtitle">San Antonio Sport & Social Club</a>
      <br/>
      <a href="https://diablos.leagueapps.com/" target="_blank" class="subtitle">Diablos OutSports Assosciation <span>&#127752;</span></a>
      <br/>
      <a href="https://www.sanantonio.gov/ParksAndRec/Programs-Classes-Fun/Programs-Classes/Sports"  target="_blank" class="subtitle">San Antonio Parks & Recreation <i>(Youth)</i></a>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box" id="info-box">
      <p class="title">THEATRE <span>&#127917;</span></p>
      <div class="content">
        <a href="https://www.majesticempire.com/calendar" target="_blank" class="subtitle">Majestic & Empire Theatre</a>
      <br/>
      </div>
    </article>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box" id="info-box">
          <p class="title">Vertical tiles</p>
          <p class="subtitle">Top box</p>
        </article>
        <article class="tile is-child box" id="info-box">
          <p class="title">Vertical tiles</p>
          <p class="subtitle">Bottom box</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child" id="info-box">
          <p class="title">Event Calendar</p>
            <iframe
              src="https://calendar.google.com/calendar/embed?src=lr3td66i84tkmaf2o8j10euu70%40group.calendar.google.com&ctz=America%2FChicago"
              style="border: 0"
              width="600"
              height="400"
              frameborder="0"
              scrolling="no"
            ></iframe>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box" id="info-box">
        <p class="title">Wide column</p>
        <p class="subtitle">Aligned with the right column</p>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas
            non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box" id="info-box">
      <div class="content">
        <p class="title">Tall column</p>
        <p class="subtitle">With even more content</p>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
            semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum
            volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi
            maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis
            semper odio felis ut quam.</p>
          <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget
            ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus,
            augue diam porttitor lorem, et sollicitudin felis neque sit amet
            erat. Maecenas imperdiet felis nisi, fringilla luctus felis
            hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim
            turpis. Sed eget varius ligula, at volutpat tortor.</p>
          <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus
            erat, vitae congue lectus dolor consequat libero. Donec leo ligula,
            maximus et pellentesque sed, gravida a metus. Cras ullamcorper a
            nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero.
            Quisque non semper leo.</p>
        </div>
      </div>
    </article>
  </div>
</div>

{{!-- <div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box" id="info-box">
      <p class="title">Side column</p>
      <p class="subtitle">With some content</p>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare
          magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa
          sem. Etiam finibus odio quis feugiat facilisis.</p>
      </div>
    </article>
  </div>
  <div class="tile is-parent is-8">
    <article class="tile is-child box" id="info-box">
      <p class="title">Main column</p>
      <p class="subtitle">With some content</p>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare
          magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa
          sem. Etiam finibus odio quis feugiat facilisis.</p>
      </div>
    </article>
  </div>
</div> --}}