<div>Want to meet people who like the things you do?</div>
<div>Why not....</div>
<div>Add an Event to our calendar</div>
<div>Click on an event and add it to your calendar.</div>
<div>A fun way to keep in the Know.</div>
<iframe
  src="https://calendar.google.com/calendar/embed?src=lr3td66i84tkmaf2o8j10euu70%40group.calendar.google.com&ctz=America%2FChicago"
  style="border: 0"
  width="500"
  height="400"
  frameborder="0"
  scrolling="no"
></iframe>

<div>
  Find a concert or play or a comedy show by using the links below. Then get
  together with friends, coworkers or meet a group of new friends with the same
  interst and Meet up to have a great time.</div>
<a
  href="https://tickets-center.com/search/tobin-center-for-performing-arts-tickets/?venueId=12016&venueName=Tobin+Center+for+Performing+Arts&vaid=265&tagid=201&atid=30001&nid=1&accid=9493575329&campaignid=284383562&cid=336449148956&akwd=tobin%20center&mt=e&network=g&dist=s&adposition=&device=c&ismobile=false&devicemodel=&placement=&target=&random=11588145364578766740&loc_physical_ms=9028052&loc_interest_ms=9028046&exid=&fiid=&vx=0&gclid=Cj0KCQjw4PKTBhD8ARIsAHChzRLAfnJ5Se3FwGmjxzYXNMVkBB97T5n8qJiClGDT_nyLnik0QLep4Z4aAoooEALw_wcB"
  target="_blank"
>Tobin Center Events</a>

<a href="https://www.sanantonioriverwalk.com/events/" target="_blank">Things to
  do in San Antonio and on the Riverwalk</a>