<a href="/posts">&larr; Back to Community Wall </a>

<section class="section">
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box" id="info-box">
      <p class="title"><span>&#128021;</span> PUPPER FRIENDLY </p>
       <a href="https://www.alamobeer.com/" target="_blank" class="subtitle"> • Alamo Beer Company <span>&#128261; &#127968;</span></a>
      <br/>
      <a href="https://weatheredsouls.beer/" target="_blank" class="subtitle">• Weathered Souls <span>&#128261; &#127968; &#x1F90E;</span></a>
      <br/>
          <a href="https://www.hopsandhoundsllc.com/" target="_blank" class="subtitle">• Hops & Hounds <span>&#128261; &#127968;</span></a>
      <br/>
         <a href="https://www.instagram.com/tonyssiesta/?hl=en" target="_blank" class="subtitle">• Tony's Siesta <span>&#128261; &#127968;</span></a>
      <br/>
       <a href="https://chickennpickle.com/san-antonio/calendar/" target="_blank" class="subtitle">• Chicken N Pickle<span>&#128261; &#127968;</span></a>
      <br/>
       


      </ul>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box" id="info-box">
      <p class="title"><span>&#9977;</span> SPORT LEAGUES </p>
      <a href="https://sanantoniossc.com/" target="_blank" class="subtitle">• San Antonio Sport & Social Club</a>
      <br/>
      <a href="https://diablos.leagueapps.com/" target="_blank" class="subtitle">• Diablos OutSports Assosciation <span>&#127752;</span></a>
      <br/>
      <a href="https://www.sanantonio.gov/ParksAndRec/Programs-Classes-Fun/Programs-Classes/Sports"  target="_blank" class="subtitle">• San Antonio Parks & Recreation <i>(Youth)</i></a>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box" id="info-box">
      <p class="title"> <span>&#128171;</span>PATIO </p>
      <div class="content">
        <a href="https://www.thestripsa.com/" target="_blank" class="subtitle">• Luthers <span>&#127752;</span></a>
      <br/>
      <a href="https://eatgoodkind.com/upcoming-events/" target="_blank" class="subtitle">• The Good Kind <span>&#128261; </span></a>
      <br/>
      <a href="https://www.elsewheretexas.com/events" target="_blank" class="subtitle">• Elsewhere <span>&#128261; </span></a>
      <br/>
       <a href="https://thefriendlyspot.com/" target="_blank" class="subtitle">• The Friendly Spot <span>&#128261; </span></a>
      <br/>
      <a href="https://thedakotasa.com/" target="_blank" class="subtitle">• The Dakota <span>&#128261; &#127968;</span></a>
      <br/>
      </div>
    </article>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box" id="info-box">
          <p class="title"><span>&#127912;</span> ARTS & CULTURE</p>
          <a href="https://linktr.ee/getcreativesa" target="_blank" class="subtitle">• Get Creative SA <i>(Maintained & Run by City Of SA)</i></a>
          <br/>
          <a href="https://www.facebook.com/BrickatBlueStar/events/?ref=page_internal" target="_blank" class="subtitle">• Brick at Blue Star</a>
          <br/>
          <a href="https://www.facebook.com/PresaHouse/events/?ref=page_internal" target="_blank" class="subtitle">• Presa House Gallery</a>
          <br/>
          <a href="https://www.instagram.com/historicpearl/" target="_blank" class="subtitle">• The Pearl <span>&#128261; &#127968; </span></a>
          <br/>
          <a href="https://www.instagram.com/writeartout/?hl=en" target="_blank" class="subtitle">• Write Art Out Inc.</a>
          <br/>
          <a href="https://www.instagram.com/centrosanantonio/" target="_blank" class="subtitle">• Peacock Alley <span>&#128261; </span></a>
          <br/>

        </article>
        <article class="tile is-child box" id="info-box">
          <p class="title"><span>&#128585;</span> KID FRIENDLY </p>
          <a href="https://sariverfound.org/confluence-park/" target="_blank" class="subtitle">• Confluence Park<span>&#128261;</span></a>
          <br/>
          <a href="https://www.thedoseum.org/" target="_blank" class="subtitle">• The Doseum</a>
          <br/>
          <a href="https://morganswonderland.com/" target="_blank" class="subtitle">• Morgan's Wonderland: For all ages and abilities<span>&#128261;</span></a>
          <br/>
          <a href="https://www.wittemuseum.org/events/" target="_blank" class="subtitle">• The Witte Museum</a>
          <br/>
          <a href="https://www.kiddiepark.com/" target="_blank" class="subtitle">• Kiddie Park <span>&#128261;</span></a>
          <br/>
           <a href="https://www.sabot.org/calendar/" target="_blank" class="subtitle">• SA Botanical Garden <span>&#128261;</span></a>
          <br/>
        </article>
        </div>
      <div class="tile is-parent" id="event-calendar-container">
        <article class="tile is-child" id="info-box">
          <p class="title"> <span>&#128198;</span> EVENT CALENDAR</p>
          <div class="field">
            <h4 class="subtitle">Add your events to the Community Calendar for people to see and join!</h4>
          </div>
        <iframe src="https://calendar.google.com/calendar/embed?height=400&wkst=1&bgcolor=%23B39DDB&ctz=America%2FChicago&src=bHIzdGQ2Nmk4NHRrbWFmMm84ajEwZXV1NzBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23D81B60&color=%23009688" style="border:solid 1px rgb(255, 251, 251)" width="600" height="400" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
   <div class="tile is-parent">
       <article class="tile is-child box" id="info-box">
      <p class="title"><span>&#9996;</span> COMMNUNITY CAUSES</p>
      <div class="content">
        <a href="https://www.sanantoniomag.com/black-owned-businesses-to-support-in-san-antonio/" target="_blank" class="subtitle">• Black Owned Businesses <span> &#x1F90E;</span></a>
      <br/>
      <a href="https://queerintheworld.com/gay-san-antonio-texas-travel-guide/" target="_blank" class="subtitle">• The Essential LGBTQIA+2 Travel Guide<span>&#127752;</span></a>
      <br/>
      <a href="https://www.yelp.com/search?find_desc=asian+owned&find_loc=San+Antonio%2C+TX&start=0" target="_blank" class="subtitle">•  Asian Owned Businesses<span>&#128150;</span></a>
      <br/>
      <a href="https://www.alamo.edu/sac/experience-sac/community/arts-and-culture/theatre-season/" target="_blank" class="subtitle">• Yanawana Herbolarios: Community Health & Education<span>&#129309;</span></a>
      <br/>
      <a href="https://adltexas.org/" target="_blank" class="subtitle">• Animal Defense League <span>&#128021; &#128049;</span></a>
      <br/>
       <a href="https://www.sanantonio.gov/Animal-Care/Home" target="_blank" class="subtitle">• Animal Care Services <span>&#128021; &#128049;</span></a>
      <br/>
      </div>
    </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box" id="info-box">
      <div class="content">
        <p class="title"> <span>&#128151;</span> FOODIES</p>
        <div class="content">
          <div class="field">
            <h4 class="subtitle">Click the images below to checkout two ladies determined document San Antonio's best, creative, and tasty cusine! </h4> 
          </div>
          <div class="field">
            <label class="label" id="foodie-1">UrbanMamaBexar: </label>
            <div class="foodie-image">
            <a href="https://www.instagram.com/urbanmamabexar/" target="_blank">
            <img src="/assets/images/urbanmamabexar.jpg" alt="UrbanMamaBexar's pic of Mings Thing meal" id="UMB" class="foodie-pic">
            </a>
            </div>
          </div>
          <div class="container">
            <label class="label" id="foodie-1">SA Foodie: </label>
            <div class="foodie-image">
            <a href="https://www.instagram.com/s.a.foodie/" target="_blank">
            <img src="/assets/images/SAFoodie.jpg" alt="SAFoodie's pic of Popo Trattoria meal" id="SAF" class="foodie-pic">
            </a>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-parent">
  <article class="tile is-child box" id="info-box">
      <p class="title"><span>&#127917;</span> THEATRE</p>
      <div class="content">
        <a href="https://www.majesticempire.com/calendar" target="_blank" class="subtitle">• Majestic & Empire Theatre</a>
      <br/>
      <a href="https://www.tobincenter.org/" target="_blank" class="subtitle">• Tobin Center for the Performing Arts</a>
      <br/>
      <a href="https://www.livenation.com/venue/KovZpZAJEavA/aztec-theatre-events" target="_blank" class="subtitle">• Aztec Theatre</a>
      <br/>
       <a href="https://www.woodlawntheatre.org/shows" target="_blank" class="subtitle">• Woodlawn Theatre</a>
      <br/>
      <a href="https://www.alamo.edu/sac/experience-sac/community/arts-and-culture/theatre-season/" target="_blank" class="subtitle">• San Antonio College Theatre <i>(Currently Closed for Covid)</i></a>
      <br/>
      </div>
    </article>
  </div>
  <div class="tile is-parent is-8">
    <article class="tile is-child box" id="info-box">
      <p class="title"> <span>&#129506;</span>SAN ANTONIO SPORTS</p>
      <div class="content">
        <a href="https://www.nba.com/spurs/schedule" target="_blank" class="subtitle">• SPURS</a>
        <br/>
        <a href="https://www.sanantoniofc.com/safcschedule/" target="_blank" class="subtitle">• SA Football Club</a>
        <br/>
        <a href="https://www.milb.com/san-antonio/schedule/2022-05" target="_blank" class="subtitle">• SA Missions</a>
        <br/>
        <a href="https://goutsa.com/index.aspx" target="_blank" class="subtitle">• UTSA <i>No Other University Matters. Will not be taking agruments at this time. Beep Beep.</i></a>
        <br/>

      </div>
    </article>
  </div>
</div>
</section>