<a href="/posts"> &larr; Back to Community Wall</a>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box" id="info-box">
      <p class="title">PUPPER FRIENDLY <span>&#128021;</span></p>
       <a href="https://www.alamobeer.com/" target="_blank" class="subtitle">Alamo Beer Company <span>&#128261; | &#127968;</span></a>
      <br/>
      <a href="https://weatheredsouls.beer/" target="_blank" class="subtitle">Weathered Souls <span>&#128261; | &#127968;| &#x1F90E;</span></a>
      <br/>
          <a href="https://www.hopsandhoundsllc.com/" target="_blank" class="subtitle">Hops & Hounds <span>&#128261; | &#127968;</span></a>
      <br/>
         <a href="https://www.instagram.com/tonyssiesta/?hl=en" target="_blank" class="subtitle">Tony's Siesta <span>&#128261; | &#127968;</span></a>
      <br/>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box" id="info-box">
      <p class="title">SPORT LEAGUES <span>&#9977;</span></p>
      <a href="https://sanantoniossc.com/" target="_blank" class="subtitle">San Antonio Sport & Social Club</a>
      <br/>
      <a href="https://diablos.leagueapps.com/" target="_blank" class="subtitle">Diablos OutSports Assosciation <span>&#127752;</span></a>
      <br/>
      <a href="https://www.sanantonio.gov/ParksAndRec/Programs-Classes-Fun/Programs-Classes/Sports"  target="_blank" class="subtitle">San Antonio Parks & Recreation <i>(Youth)</i></a>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box" id="info-box">
      <p class="title">THEATRE <span>&#127917;</span></p>
      <div class="content">
        <a href="https://www.majesticempire.com/calendar" target="_blank" class="subtitle">Majestic & Empire Theatre</a>
      <br/>
      <a href="https://www.tobincenter.org/" target="_blank" class="subtitle">Tobin Center for the Performing Arts</a>
      <br/>
      <a href="https://www.livenation.com/venue/KovZpZAJEavA/aztec-theatre-events" target="_blank" class="subtitle">Aztec Theatre</a>
      <br/>
       <a href="https://www.woodlawntheatre.org/shows" target="_blank" class="subtitle">Woodlawn Theatre</a>
      <br/>
      <a href="https://www.alamo.edu/sac/experience-sac/community/arts-and-culture/theatre-season/" target="_blank" class="subtitle">San Antonio College Theatre <i>(Currently Closed for Covid)</i></a>
      <br/>
      </div>
    </article>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box" id="info-box">
          <p class="title">ARTS & CULTURE <span>&#127912;</span><span>&#128171;</span></p>
          <a href="https://linktr.ee/getcreativesa" target="_blank" class="subtitle">Get Creative SA <i>(Run by COSA)</i></a>
          <br/>
          <a href="https://www.facebook.com/BrickatBlueStar/events/?ref=page_internal" target="_blank" class="subtitle">Brick at Blue Star</a>
          <br/>
          <a href="https://www.facebook.com/PresaHouse/events/?ref=page_internal" target="_blank" class="subtitle">Presa House Gallery</a>
          <br/>
          <a href="https://www.instagram.com/historicpearl/" target="_blank" class="subtitle">The Pearl</a>
          <br/>

        </article>
        <article class="tile is-child box" id="info-box">
          <p class="title">KID FRIENDLY <span>&#128585; &#128522;</span></p>
          <a href="https://sariverfound.org/confluence-park/" target="_blank" class="subtitle">Confluence Park<span>&#128261;</span></a>
          <br/>
          <a href="https://www.thedoseum.org/" target="_blank" class="subtitle">The Doseum</a>
          <br/>
          <a href="https://www.wittemuseum.org/events/" target="_blank" class="subtitle">The Witte Museum</a>
          <br/>
          <a href="https://www.wittemuseum.org/events/" target="_blank" class="subtitle">The Witte Museum</a>
          <br/>
           <a href="https://www.sabot.org/calendar/" target="_blank" class="subtitle">SA Botanical Garden</a>
          <br/>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child" id="info-box">
          <p class="title">Event Calendar</p>
            <iframe
              src="https://calendar.google.com/calendar/embed?src=lr3td66i84tkmaf2o8j10euu70%40group.calendar.google.com&ctz=America%2FChicago"
              style="border: 0"
              width="600"
              height="400"
              frameborder="0"
              scrolling="no"
            ></iframe>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box" id="info-box">
        <p class="title">Wide column</p>
        <p class="subtitle">Aligned with the right column</p>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas
            non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box" id="info-box">
      <div class="content">
        <p class="title">Tall column</p>
        <p class="subtitle">With even more content</p>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
            semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum
            volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi
            maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis
            semper odio felis ut quam.</p>
          <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget
            ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus,
            augue diam porttitor lorem, et sollicitudin felis neque sit amet
            erat. Maecenas imperdiet felis nisi, fringilla luctus felis
            hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim
            turpis. Sed eget varius ligula, at volutpat tortor.</p>
          <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus
            erat, vitae congue lectus dolor consequat libero. Donec leo ligula,
            maximus et pellentesque sed, gravida a metus. Cras ullamcorper a
            nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero.
            Quisque non semper leo.</p>
        </div>
      </div>
    </article>
  </div>
</div>

{{!-- <div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box" id="info-box">
      <p class="title">Side column</p>
      <p class="subtitle">With some content</p>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare
          magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa
          sem. Etiam finibus odio quis feugiat facilisis.</p>
      </div>
    </article>
  </div>
  <div class="tile is-parent is-8">
    <article class="tile is-child box" id="info-box">
      <p class="title">Main column</p>
      <p class="subtitle">With some content</p>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare
          magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa
          sem. Etiam finibus odio quis feugiat facilisis.</p>
      </div>
    </article>
  </div>
</div> --}}
