<a href="/posts"> &larr; Back to Community Wall</a>

<section class="chat_section">
<h2>Chat Messages</h2>

<div class="chat_container">
  {{!-- <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:50%;"> --}}
  <p id="chat">Hello. How are you today?</p>
  <span class="time-right">11:00</span>
</div>

<div class="chat_container darker">
  {{!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:50%;"> --}}
  <p id="chat">Hey! I'm doing good. Thanks for asking!</p>
  <span class="time-left">11:01</span>
</div>

<div class="chat_container">
  {{!-- <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;"> --}}
  <p id="chat">Sweet! So, what do you wanna do today?</p>
  <span class="time-right">11:02</span>
</div>

<div class="chat_container darker">
  {{!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;"> --}}
  <p id="chat">Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
  <span class="time-left">11:05</span>
</div>

</section>

