{{!-- chat room wall --}}
<a href="/posts"> &larr; Back to Community Wall</a>

<section class="chat_section">
  <h4 class="title is-4">
    Chat Messages
  </h4>

  <div class="chat_container">
    <p id="chat">Hello. How are you today?</p>
    <span class="time-right">11:00</span>
  </div>

  <div class="chat_container darker">
    <p id="chat">Hey! I'm doing good. Thanks for asking!</p>
    <span class="time-left">11:01</span>
  </div>

  <div class="chat_container">
    <p id="chat">Sweet! So, what do you wanna do today?</p>
    <span class="time-right">11:02</span>
  </div>

  <div class="chat_container darker">
    <p id="chat">Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    <span class="time-left">11:05</span>
  </div>

</section>

<section class="section">

  <h4 class="title is-4">
    Photo Wall
  </h4>


<section class="section float-container" id="photo-wall-wrap">
<div class="flex">
  <div>
    <a href="https://www.instagram.com/urbanmamabexar/?hl=en" target="_blank">
    <img src="/assets/images/urbanmamabexar-at-christmas.jpg" alt="SA Blogger UrbanMamaBexar and hubby at xmas" id="the-pearl"/>
    </a>
  </div>
  <div>
    <a href="https://www.instagram.com/roostmtz/?hl=en" target="_blank">
    <img src="/assets/images/rooster-at-peacock-alley.jpg" alt="Rooster Martinez at Blah Blah Blah Poetry Night" id="the-pearl"/>
    </a>
  </div>
  <div>
    <img src="/assets/images/Blue.JPG" alt="Monica's Puppers" id="blue"/>
  </div>
</div>
  <div>
    <a href="https://www.instagram.com/jc24photo/?hl=en" target="_blank">
    <img src="/assets/images/downtoen.jpg" alt="Downtown SA by JC24Photo" id="downtown"/>
    </a>
  </div>
</section>