
<p>****** This is the home page. We want to create a different landing page that links to this one ******</p>

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>

<p> ******* We ant to have this information on our landing page ********</p>

<a href="/postpage/" id="posts">Stay in the Know!<h6>(View your friends'
		recommendations!)</h6></a>

<a href="/events" id="events">Share Your Events!<h6>(Let others know where to
		go!)</h6></a>

<a href="/friends" id="posts">Make new friends!<h6>(Chat about upcoming events!)</h6></a>