				{{! TODO: DELETE THIS SECTION }}
				<p>****** This is the home page. It is the first page anyone sees so our
					intro/information should go here ******</p>


<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>

				{{! TODO: DELETE THIS SECTION }}
				<p>***** ALL POSTS WILL SHOW UP HERE (don't forget to delete this
					line!!!!!) User must log in to comment or add posts *****</p>
