<section class="section">
  <div class="container">
    <div class="menu">
    <aside class="menu">
      <h3 class="menu-label title is-3">Get Started:</h3>
      <ul>
        <div class="field">
        <li><a href="/posts" id="posts" class="title m-6">
            <span>&#129430;</span>Community Wall:<span class="main-text"> Got Free Time? See what the Community is up to.</span>
          </a>
        </li>
        </div>
        <div class="field">
        <li><a href="/events" id="events" class="title m-6">
            <span>&#127790;</span>Want to get out? <span class="main-text">Check out local events!</span>
            </a>
            </li>
        </div>
        <div class="field">
        <li><a href="/friends" id="posts" class="title m-6">
          <span>&#128111;</span>Make new friends: <span class="main-text"><i>Coming Soon!</i></span>
           </a>
           </li>
        </div>
      </ul>
</section>

<section class="section float-container">
  <div class="container float-child" id="mission-container">
    <div class="polaroid">
      <img src="/assets/images/alamodome.jpg" alt="Placeholder image" id="alamodome"/>
    </div>
  </div>

<div class="container">
    <div class="content float-child" id="mission-statement">
      A project curated by San Antonio locals to help re-introduce our City to visitors or long time community members, alike.  This project was put together in hopes
      that a user would have a resource to cooridnate meet up's, be inspried to checkout local businesses & their events, and have a place to share photos and chat. 
      There are a lot of sites out there that can tell you where the good food is,
      what's happening in the music scene, etc.. However, there are
      few that allow you to post on them like a community board. This is the
      site we were hoping to make. A way for like minded individuals to get
      together and Meet Up. That is how Meet Up SATX was born.
      <br />
    </div>
  </div> 
</section>