<section class="section">
  <div class="container">
    <div class="menu">
      <p class="menu-label">Get Started:</p>
      <ul>
        <li><a href="/posts" id="posts" class="title m-6">
            Fun Wanted: Check our community wall to see who's up to what
          </a>
        </li>
        <li><a href="/events" id="events" class="title m-6">
            Event Inspo: Check out local events
          </a>
        </li>
        <li><a href="/friends" id="posts" class="title m-6">
            Make new friends: Coming Soon</a></li>
      </ul>
    </div>

  </div>
</section>

<section class="section">
  <div class="container" id="mission-container">
    <div class="polaroid">
      <img src="/assets/images/alamodome.jpg" alt="Placeholder image" />
    </div>
  </div>
  <div class="container">
    <div class="content" id="mission-statement">
      A project curated by San Antonio locals to help introduce the city to who
      maybe new, or not so new to the wonderful city of San Antonio! find places
      to hang out and meet new friends. This project was put together in hopes
      that a user would come by check it out and maybe stay awhile to look at
      all the fun happenings going on that might not be any place else. There
      are a lot of sites out there that can tell you where the good food is,
      what is happening in the music sceen or at them movies. However,there are
      few that allow you to post on them like a community board. This is the
      site we were hoping to make. A way for like minded individuals to get
      together and Meet Up. That is how Meet Up SATX was born.
      <a>@bulmaio</a>.
      <br />
    </div>
  </div>
</section>