<a href="/posts" id="posts">Stay in the Know!<h6>(View your friends'
		recommendations!)</h6></a>

<a href="/events" id="events">Share Your Events!<h6>(Let others know where to
		go!)</h6></a>

<a href="/friends" id="posts">Make new friends!<h6>(Chat about upcoming events!)</h6></a>