<section>
  <div class="column is-6">
    <aside class="menu">
      <p class="menu-label">Get Started:</p>
      <ul>
        <li><a href="/posts" id="posts" class="title m-6 is-family-sans-serif">
            Stay in the Know</a></li>
        <li><a href="/events" id="events" class="title m-6">
            Share Your Events</a></li>
        <li><a href="/friends" id="posts" class="title m-6">
            Make new friends</a></li>
      </ul>
    </aside>
  </div>
</section>