{{!-- <a href="/posts"> &larr; Back to Community Wall</a> --}}

<div class="content">

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>

</div>

